<p class="text-center mt-auto">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a class="btn fs-5 fw-bold border border-2" href="?page=1">&laquo; first</a>
            <a class="btn fs-5 fw-bold border border-2" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current btn fs-5 fw-bold">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a class="btn fs-5 fw-bold border border-2" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn fs-5 fw-bold border border-2" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</p>