<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Created</th>
            <th scope="col">Customer</th>
            <th scope="col">Order ID</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order_summary %}
        <tr>
            <td class="fs-5 fw-bold">{{item.created_date}}</td>
            <td class="fs-5 fw-bold">{{item.customer}}</td>
            <td class="fs-5 fw-bold border border-3 border-warning">{{item.order_id}}</td>
            <td class="fs-5 fw-bold">{{item.get_status_display}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <span class="">Total:</span>
            </td>
        </tr>
    </tfoot>
</table>