{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section>
<h1>{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
</p>
<div class="row">
    <div class="col-lg-4">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {% for field in form %}
            {% render_field field class+="form-control my-2 fs-5 fw-bold" %}
                {% if field.errors %}
                    <p>{{field.errors}}</p>
                {% endif %}
            {% endfor %}

            <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
    </div>
    <div class="col-lg-6">

    </div>
</div>

<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</section>
{% endblock %}