<h3 class="fs-1 fw-1 mt-5">Reviews and rating</h3>
<div class="splide my-5">

    <div class="splide__arrows mb-2">
        <div class="d-flex flex-row-reverse">
            <span class="splide__arrow--prev ms-2 arrow">
                <i class="bi bi-arrow-right-circle"></i>
            </span>
            <span class="splide__arrow--next ms-2 arrow">
                <i class="bi bi-arrow-left-circle ms-2"></i>
            </span>
        </div>
    </div>

    <div class="splide__track">
        <ul class="splide__list">
            <div class="col-lg-3 bg-special p-3 splide__slide">
                <div class="d-flex justify-content-between">
                    <div class="muted text-success">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div>
                        <p class="lead text-muted fw-bold">November 09, 2021</p>
                    </div>
                </div>
                <h5 class="fw-bold my-2">Header 1</h5>
                <p class="lead pe-2">
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.
                    Porro, nesciunt? Laborum quo sapiente iste
                    <p class="fw-bold fs-4">Joe Anonymous</p>
                </p>
            </div>
            <div class="col-lg-3 bg-special p-3 splide__slide">
                <div class="d-flex justify-content-between">
                    <div class="muted text-success">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div>
                        <p class="lead text-muted fw-bold">November 09, 2021</p>
                    </div>
                </div>
                <h5 class="fw-bold my-2">Header 1</h5>
                <p class="lead">
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.
                    Porro, nesciunt? Laborum quo sapiente iste
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.
                    <p class="fw-bold fs-4">Joe Doe</p>
                </p>
            </div>
            <div class="col-lg-3 bg-special p-3 splide__slide">
                <div class="d-flex justify-content-between">
                    <div class="muted text-success">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div>
                        <p class="lead text-muted fw-bold">November 09, 2021</p>
                    </div>
                </div>
                <h5 class="fw-bold my-2">Header 1</h5>
                <p class="lead">
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.
                    Porro, nesciunt? Laborum quo sapiente iste
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.
                    <p class="fw-bold fs-4">Jason Bourne</p>
                </p>
            </div>
            <div class="col-lg-3 bg-special p-3 splide__slide">
                <div class="d-flex justify-content-between">
                    <div class="muted text-success">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div>
                        <p class="lead text-muted fw-bold">November 09, 2021</p>
                    </div>
                </div>
                <h5 class="fw-bold my-2">Header 1</h5>
                <p class="lead">
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.
                    Porro, nesciunt? Laborum quo sapiente iste
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.
                    <p class="fw-bold fs-4">Mary Poppins</p>
                </p>
            </div>
            <div class="col-lg-3 bg-special p-3 splide__slide">
                <div class="d-flex justify-content-between">
                    <div class="muted text-success">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div>
                        <p class="lead text-muted fw-bold">November 09, 2021</p>
                    </div>
                </div>
                <h5 class="fw-bold my-2">Header 1</h5>
                <p class="lead">
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.
                    Porro, nesciunt? Laborum quo sapiente iste
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.
                    <p class="fw-bold fs-4">Cyndi</p>
                </p>
            </div>
        </ul>
    </div>
</div>