<div class="container" style="width:80rem;">
    <div class="p-5 mb-4 border-0">
        <div class="d-flex justify-content-between py-5">
            <div class="">
                <h1 class="display-1 fw-bold">{{jumbotron.title}}</h1>
                <p class="col-md-8 fs-4 mt-5">{{jumbotron.description}}</p>
            </div>
            <div class="">
                <img class="ms-auto" src="{{jumbotron.image.url}}" alt="{{jumbotron.title}}">
            </div>
        </div>
    </div>
</div>