<div class="d-flex justify-content-between px-2">
    {% comment %}
    <button type="button" class="btn btn-primary mb-1 btn-sm" data-bs-toggle="modal"
        data-bs-target="#store-{{store.id}}">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    {% endcomment %}
</div>

<div class="modal fade" id="store-{{store.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header border-0 p-3">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% for howto in store.how_to_store.all %}
            <h1 class="fs-2 fw-bold">Step {{ howto.step }}:</h1>
            <p>{{howto.content}}</p>
            <img class="img-fluid" src="{{howto.image.url}}" alt="{{howto.content}}">
            {% empty %}
            <h1 class="fs-1 fw-1 text-center">No tutorial yet.</h1>
            {% endfor %}
        </div>
        <div class="modal-footer border-0 p-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
        </div>
    </div>
</div>
</div>